// Navbar

$navbar-margin: 0px;
$navbar-border: solid 2px #ff0000;
//$navbar-border: solid 2px blue;
//$navbar-border: solid 2px #003f00;
$navbar-bg: #eeeeee;
$navbar-bg-hover: #cccccc;
$navbar-color: #ff0000;
//$navbar-color: blue;
//$navbar-color: #003f00;
$navbar-color-hover: #000000;

// Navbar Brand

$navbar-brand-padding: 9px;
$navbar-brand-font-size: 32px;

// Navbar Menu

$navbar-menu-pading: 18px;
$navbar-menu-font-size: 18px;