.navbar-brand {
	@include navbarItem(left, $navbar-brand-font-size)
}

.navbar-brand-item {
	padding: $navbar-brand-padding;
	font-weight: bold;
	text-transform: uppercase;
	&:hover {
		background-color: $navbar-bg-hover;
	}
}

.navbar-brand-item a {
	color: $navbar-color;
	text-decoration: none;
	&:hover {
		color: $navbar-color-hover;
	}
}